body {
    padding-top: 3rem;
    padding-bottom: 0rem;
    /*background-image: url('../images/pattern4.jpg');*/
    background-color: #f9faf5;
    background-repeat: repeat;
  }

  .bg-primary {
    background-color: #443a3a !important;
  }

  .mydiv {
    margin-top: 3rem;
    padding: 1rem 1rem 1rem 1rem;
    width: 500px;
    border:dashed rgb(147, 161, 157);
  }
  